apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: blackvoxel
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/drme-bit/frontend
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
              name: http
          env:
            - name: RUST_LOG
              value: info
          # Optionally load runtime config from a Secret named `frontend-env`.
          # Create it with: kubectl -n blackvoxel create secret generic frontend-env --from-env-file=/path/to/.env
          envFrom:
            - secretRef:
                name: backend-env #temp
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      restartPolicy: Always
