apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
namespace: blackvoxel
commonLabels:
  app: frontend

images:
  - name: ghcr.io/drme-bit/frontend
    newName: ghcr.io/drme-bit/frontend
    newTag: latest
