apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/drme-bit/backend:latest
          command: ["sleep", "3600"]
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: backend-env
          env:
            - name: RUST_LOG
              value: info
