apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: blackvoxel
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      securityContext:
        runAsUser: 0
      containers:
        - name: backend
          image: ghcr.io/drme-bit/backend:sha-2e3779244d74bfcbab421f8d900f22f1e741567a
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: backend-env

          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
