apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          envFrom:
            - secretRef:
                name: backend-env
          image: ghcr.io/drme-bit/backend:latest
          ports:
            - containerPort: 8080
