apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml

namespace: blackvoxel

commonLabels:
  app: backend

images:
  - name: ghcr.io/drme-bit/backend
    newTag: latest
