apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: blackvoxel-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: nginx
  rules:
    - host: blackvoxel.studio
      http:
        paths:
          # Frontend — корень сайта
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80

          # Backend — /api/*
          - path: /api(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: backend
                port:
                  number: 8080
